<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Merge</title>
    <meta charset="utf-8">

    <!-- bootsrtap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- external css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Merge</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CHM7LX6CKZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-CHM7LX6CKZ');
    </script>
</head>

<body>
    <!-- Just an image -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand " href="#">
            <img id="merge_logo" src="/images/Merge(3).png" width="100px" height="100px" alt="" loading="lazy">
        </a>
    </nav>