<%- include("partials/header.ejs") %> 

<div class="container-fluid">
    <div class="row">
        <% posts.forEach((post) => { %>
            <div class="col-10 mx-auto text-center justify-content-center">
                <h1> <%= post.postTitle %>  </h1>
                <p> <%= post.postBody %>  </p>
                <a href="<%= post.testLink %>">Click Here For Quiz Link...</a>
            </div>
          <%  });  %>
        
    </div>
</div>
  
