
<%- include('partials/header') %> 

<div class="container-form">
  <form action="/compose" method="POST">
    <div class="form-group">
      <label> Post Title</label>
      <input type="text"  class="form-control" name="postTitle">
    </div>
    <div class="form-group">
      <label>Post Content</label>
      <textarea class="form-control" name="postBody" rows="5" cols="20"></textarea>
    </div>
    <div class="form-group">
      <label> Test Link</label>
      <input type="text"  class="form-control" name="quizLink">
    </div>
    <button type="submit" name="button" class="btn  btn-outline-dark">Publish</button>
  </form>
</div>
<%- include('partials/footer') %> 