<!--
<section id="home">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center my-5">
      <div class="col-10 left col-lg-6 mx-auto text-center d-flex justify-content-center">
        <div class="img-container text-center ">
          <img src="/images/undraw_interview_rmcf (1).svg" width="420px" height="420px" alt="">
        </div>
      </div>
      <div class="col-10 right col-lg-6 mx-auto text-capitalize text-center d-flex justify-content-center  marg">
      <p class="paragraph">Thank you for subscribing.<br> We are launching very soon.<br> 

<span class="details"><i>check your mail box for further updates</i></span></p>-->
<%- include("partials/header.ejs") %>

    <section id="home">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center my-5">
                <div class="col-10 left col-lg-6 mx-auto text-center justify-content-center">
                    <div class="img-container imageStyle text-center ">
                        <img src="/images/undraw_interview_rmcf (1).svg" width="420px" height="420px" alt="">
                    </div>
                </div>
                <div class="col-10 right col-lg-6 mx-auto text-capitalize text-center greetStyle  justify-content-center  marg">
                    <p class="paragraph">Thank you for subscribing.<br> We are launching very soon.<br>
                        <span class="details"><i>check your mail box for further updates</i></span></p>
                    <div class="icons d-flex justify-content-around">
                        <a href="https://www.facebook.com/mergeintern" class="facebook"><img src="/images/icons8-facebook-50.png" alt=""></a>
                        <a href="https://www.instagram.com/mergeintern" class="instagram"><img src="/images/icons8-instagram-50.png" alt=""></a>
                        <a href="https://www.linkedin.com/company/mergeintern" class="linkedin"><img src="/images/icons8-linkedin-50.png" alt=""></a>
                        <a href="" class="youtube"><img src="/images/icons8-play-button-50.png" alt=""></a>
                    </div>
                    <div class="justify-content-center text-center m-5">
                        <p class="telecontent text-center ">Click Below To Join Our Telegram Community</p>
                        <a href="https://t.me/mergeintern" class="telegram"><img src="/images/icons8-telegram-app-50.png" alt=""></a>
                    </div>
                </div>
                <%- include("partials/footer.ejs") %>