  <%- include('partials/header'); -%>

	<form>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Qualification</label></div>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="10 score"></br>
      <input type="text" class="form-control" placeholder="12 score"></div></br>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Qualification</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="" value="option1" >
          <label class="form-check-label">
          	Graduation
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="" value="option2" >
          <label class="form-check-label">
          	Post Graduation
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="" value="option3" >
          <label class="form-check-label">
          	Phd
          </label>
        </div>
      </div>
    </div>
  </fieldset>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Previous or current job details</label></div>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="job details"></br>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Internship</label></div>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Internship"></br>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Position of responsibilities</label></div>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Position"></br>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Training of details</label></div>
    <div class="col-sm-10">
      <input type="text" class="form-control" ></br>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Previous project details</label></div>
    <div class="col-sm-10">
      <input type="text" class="form-control"></br>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Addition details</label></div>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" rows="4" cols="4"></textarea></br>
    </div>
  </div>
</form>
</div>
  <%- include('partials/footer'); -%>
